# this is a comment 
# this is a comment 
lb node0 {
	nodeid 		0;
	lowwater	30;
	highwater	70;
	period		30;
	start 		60;
	stop  		60;
	min_servers	1;
	max_servers	2;	
	cltname		client0;
	svrname     node0;	
	cltdev		eth1;
	svrdev   	eth0;
	ssh_host	192.168.0.196;
	ssh_user	Admin;
	ssh_pass	mendieta;	
	vm_start 	"start_vm.bat";
	vm_stop   	"stop_vm.bat";
	vm_status  	"list_vm.bat";
};

server node1 {
	nodeid 		1;
	compress	NO;
	batch		NO;	
	node_image  "E:\\NODE1\\node1.vmx";
};

server node2 {
	nodeid 		2;
	compress	NO;
	batch		NO;	
	node_image  "E:\\NODE2\\Debian 9.4.vmx";
};


client client11 {
	nodeid 		11;
	compress	NO;
	batch		NO;	
};

client client12 {
	nodeid 		12;
	compress	NO;
	batch		NO;	
};

client client13 {
	nodeid 		13;
	compress	NO;
	batch		NO;	
};


#dcid puede ser un numero 0-(NR_DCS-1)
#si no se menciona dcid, entonces es ANY
#ext_ep es el endpoint presentado a los clientes.
#min_ep y max_ep es el rango de endpoints en los que se pueden arrancar los services
  
# service started automatically 
service latency {
	dcid	0;
	ext_ep	10;
	min_ep	10;
	max_ep	19;	
	bind	replica;
	prog	"/usr/src/dvs/dvs-apps/dvs_lb/run_latency.sh" 
};

# service started by hand !!
service m3ftp {
	dcid	0;
	ext_ep	20;
	min_ep	20;
	max_ep	29;	
	bind	external;
};



